---
---

@import "{{ site.theme }}";
p {
    text-align: justify;
}

#header_wrap {
    background: #666666;
    background: -moz-linear-gradient(top, #666666, #666666);
    background: -webkit-linear-gradient(top, #666666, #666666);
    background: -ms-linear-gradient(top, #666666, #666666);
    background: -o-linear-gradient(top, #666666, #666666);
    background: linear-gradient(to top, #666666, #666666);
  }

  #project_title {
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: #111 0px 0px 10px;
    text-align: center;
  }
  
  #project_tagline {
    color: #FA7D19;
    font-size: 24px;
    font-weight: 300;
    background: none;
    text-shadow: #111 0px 0px 10px;
    text-align: center;
  }